.section-title {
  font-size: 42px;
  text-align: center ;
  padding: 2rem 0;
}
main {
  text-align: center;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/main.jpg) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 680px;
  color: #fff;
}
main header {
  padding-top: 2em;
  font-size: 20px;
}
main .main-content {
  margin-top: 7rem;
}
main .main-content h1 {
  line-height: 6rem;
  font-size: 72px;
}
main .main-content p {
  padding-top: 3rem;
  line-height: 2.5rem;
  font-size: 30px;
}
.about {
  padding: 6rem 0;
  background-color: #E9EDF0;
}
.about-text {
  padding-top: 4rem;
}
.about-text h3 {
  font-size: 49px;
  font-weight: bold;
}
.about-text p {
  font-size: 26px;
}
.about-images img {
  margin: 6px;
}
.services {
  padding: 2.5rem 0;
  text-align: center;
}
.services h3 {
  line-height: 3rem;
}
.motivation {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/main.jpg) center no-repeat;
  background-attachment: fixed;
  padding-top: 8rem;
  text-align: center;
  color: #fff;
  min-height: 500px;
}
.motivation h3 {
  font-size: 3rem;
}
.motivation p {
  margin-top: 3rem;
  font-size: 1.6rem;
}
.motivation button {
  margin-top: 3rem;
  background-color: #F5914F;
  border: none;
  width: 20rem;
  height: 4rem;
  border-radius: 1rem;
}
.motivation button a {
  font-size: 2.5rem;
  text-decoration: none;
  color: #fff;
}
.features {
  padding: 6rem 0;
}
.features h4 {
  text-align: center;
}
.features-text,
.features h5,
.features p {
  display: inline-block;
}
.features-icon {
  padding-right: 1.3rem;
  display: inline-block;
}
.features-icon img {
  vertical-align: baseline;
}
.features-text {
  padding-top: 5rem;
}
.features .container {
  width: 700px;
}
